@font-face {
  font-family: 'Star Jedi';
  src: url('./assets/Starjedi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Star Jedi';
  color: #ffd571;
  background-image: url(./assets/giphy.gif);
  background-repeat: repeat;
}

.container {
  padding: 25px;
  margin: 50px auto;
  border: 2px solid #ffd571;
  background: #56556e;
  width: 1200px;
}

h1 {
  text-align: center;
}

label {
  font-size: 15px;
}