@font-face {
  font-family: 'Star Jedi';
  src: url('./assets/Starjedi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  margin: auto;
  background-color: black;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
}

.container {
  color: #ffd571;
  font-family: 'Star Jedi';
  padding: 25px;
  margin: 50px auto;
  border: 2px solid #ffd571;
  background: #56556e;
  opacity: 90%;
  width: 1200px;
}

.receiptContainer {
  margin: 50px auto;
  color: #ffd571;
  font-family: 'Star Jedi';
  padding: 25px;
  border: 2px solid #ffd571;
  background: #56556e;
  opacity: 90%;
  width: 1000px;
}

.topDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.midDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bottomDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1, h2 {
  text-align: center;
}

input{
  margin-bottom: 20px;
}

label {
  font-size: 15px;
  padding-right: 20px;
  margin-bottom: 20px;
}

textarea {
  margin-top: 20px;
  margin-left: 15px;
  height: 300px;
  width: 600px;
}

textarea, select, input {
  font-family: 'Star Jedi';
}

button {
  border: 1px solid #ffd571;
  font-family: 'Star Jedi';
  margin-top: 50px;
  position: relative;
  left: 45%;
}

.finalWords {
  border-left: 1px white solid;
  text-align: center;
}